nodeRedFlow.txt
[{"id":"9739bdbe.c4793","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b2fe57e6.b4b7c8","type":"inject","z":"9739bdbe.c4793","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["c655a50a.309a28"]]},{"id":"6ddcbadb.4e79a4","type":"debug","z":"9739bdbe.c4793","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":80,"wires":[]},{"id":"182e0ae8.d38d55","type":"wiotp out","z":"9739bdbe.c4793","authType":"d","qs":"true","qsDeviceId":"182e0ae8.d38d55","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":370,"y":140,"wires":[]},{"id":"a1fa96c5.2ac968","type":"function","z":"9739bdbe.c4793","name":"","func":"var x = msg.payload.split(\"=\");\nmsg.payload = {'d' : {'temp':parseFloat(x[1])} };\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["182e0ae8.d38d55","6ddcbadb.4e79a4"]]},{"id":"c655a50a.309a28","type":"exec","z":"9739bdbe.c4793","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":110,"y":280,"wires":[["a1fa96c5.2ac968"],[],[]]}]
